@charset "utf-8";

/* all - font-family: 'Noto Sans KR' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* sub article - h1 font-family: 'Manrope' */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

/* sub article - h1 font-family: 'Montserrat' */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* table - font-family: 'Spoqa Han Sans' */
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
// @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/* footer - logo font-family: 'Poppins' */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$aColor : #222;

/* skipNav */
#skipNav {
    position:absolute; top: -1000px; left:0; z-index:9999; width: 100%; height: 80px; background: $aColor; text-align: center;
    a {
        position: fixed;
        display: block;
        width: 100%;
        left:50%;
        transform: translateX(-50%);
        font: bold 16px/40px 'Noto Sans KR'; color: #fff;
        background: $aColor;
        
        &:hover, &:focus, &:active {top: 0;}
    }
}

/* section */
.community {
    width: 100%; padding: 50px 0 100px;
    .inner {
        width: 1180px; margin: 0 auto;
        // h1 {font: bold 36px/1 'Noto Sans KR'; color: #0c1a31; padding: 50px 0; text-align: center;}
        > h1 {font: 800 36px/1 'Manrope', 'NanumSquare', 'Malgun Gothic'; color: #0a0a0a; letter-spacing: .15em; text-align: center;
        }

        .box_menu {
            width: 1000px; margin: 0 auto;
            &::after {content: ''; display: block; clear: both;}
            article {
                float: left; width: calc(100% / 3); background: #eaeaea; margin:0px 0 50px; text-align: center;
                a { display: block; padding: 15px 0;
                    font: bold 14px/1 'Noto Sans KR'; color:#0c1a31; width: 100%; height: 100%; 
                    &:hover, &.on {
                        background: #0c1a31; width: 100%; height: 100%; color :#fff;
                    }
                }
            }
        }
        table {
            width: 100%; text-align: center; 
            // border-collapse: collapse;
            th {
                height: 30px; background: #f8f8f8; border-top: 1px solid #0b1a30;
                font: bold 14px/1 'Noto Sans KR'; color: #0b1a30;
            }
            td {
                height: 60px; border-bottom: 1px solid #efefef;
                &:first-of-type {width: 10%;}
                &:nth-of-type(2) {width: 70%; text-align: left;}
                &:nth-of-type(3) {
                    width: 10%;
                    a {font: 13px/1 'Noto Sans KR'; color: #b4b4b1;}
                }
                &:nth-of-type(4) {
                    width: 10%;
                    a {font: 13px/1 'Noto Sans KR'; color: #0b1a30;}
                }
                a {
                    font: 14px/1 'Noto Sans KR'; color: #0b1a30;
                    span {
                        display: block; font-weight: bold; margin: 0 auto;
                        &.notice {
                            width: 50px; height:30px; background: #000; border-radius: 15px;
                            font: bold 13px/30px 'Noto Sans KR'; color: #fff; 
                        }
                    }
                }
            }
        }
    }
    .pagination {
        width: 100%; text-align: center; margin-top: 30px;

        &::after {content: ''; display: block; clear: both;}
        .prev {
            font-size: 14px; color: #555;
        }
        .next {
            font-size: 14px; color: #555;
        }

        .numbers {
            display: inline-block; font-size: 0;
            a {
                display: inline-block;
                width: 30px; height: 30px;
                font: 11px/30px 'arial'; color: #666; text-align: center; margin: 0 5px;
                &:hover {
                    background: #19191a;
                    color: #fff;
                }
                &.on {
                    background: #19191a;
                    color: #fff;
                }
            }
        }
    } //pagination
}

/* animation */
@keyframes bounce {
    0% {transform: scale(1.1);}
    10% {transform: scale(1.0);}
    20% {transform: scale(1.1);}
    80% {transform: scale(1.1);}
    90% {transform: scale(1.0);}
    100% {transform: scale(1.1);}    
}

@mixin tablet {

}

@mixin mobile {

}