@charset "utf-8";

@import 'mixin';
@import 'reset'; 
@import 'sub_layout'; 
@import 'department';
@import 'community'; 
@import 'join';
@import 'gallery';
@import 'youtube';
@import 'location';

/* all - font-family: 'Noto Sans KR' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* sub article - h1 font-family: 'Manrope' */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

/* sub article - h1 font-family: 'Montserrat' */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* sub title - h1 font-family: 'Manrope' */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/* table - font-family: 'Spoqa Han Sans' */
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
// @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/* footer - logo font-family: 'Poppins' */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$aColor : #222;

/* skipNav */
#skipNav {
    position:absolute; top: -1000px; left:0; z-index:9999; width: 100%; height: 80px; background: $aColor; text-align: center;
    a {
        position: fixed;
        display: block;
        width: 100%;
        left:50%;
        transform: translateX(-50%);
        font: bold 16px/40px 'Noto Sans KR'; color: #fff;
        background: $aColor;
        
        &:hover, &:focus, &:active {top: 0;}
    }
}

/* section */
#section {
    width: 100%; padding: 50px 0 100px;
    .inner {
        width: 1180px; margin: 0 auto;
        // h1 {font: bold 36px/1 'Noto Sans KR'; color: #0c1a31; padding: 50px 0; text-align: center;}
        > h1 {font: 800 36px/1 'Manrope', 'NanumSquare', 'Malgun Gothic'; color: #0a0a0a; letter-spacing: .15em; text-align: center;
        }
    }
}

/* animation */
@keyframes bounce {
    0% {transform: scale(1.1);}
    10% {transform: scale(1.0);}
    20% {transform: scale(1.1);}
    80% {transform: scale(1.1);}
    90% {transform: scale(1.0);}
    100% {transform: scale(1.1);}
}

/*---------------------------------------- tablet  ----------------------------------------*/
@mixin tablet {
    /* header */
    #sub_header {
        .inner {
            width: 100%;
        }
    }

    /* section */
    #section {
        .inner {
            width: 100%;

            .box_menu {
                width: 1000px; margin: 0 auto;
                &::after {content: ''; display: block; clear: both;}
                article {
                    float: left; width: calc(100% / 3); background: #eaeaea; margin:0px 0 50px; text-align: center;
                    a { display: block; padding: 15px 0;
                        font: bold 14px/1 'Noto Sans KR'; color:#0c1a31; width: 100%; height: 100%; 
                        &:hover {
                            background: #0c1a31; width: 100%; height: 100%; color :#fff;
                        }
                        
                    }
                }
            }
        }
    }
    
    /* footer */
    #sub_footer {
        .upper {
            .inner {
                width: 100%;
            }
        }
        .lower {
            .inner {
                width: 100%;
            }
        }
    }
}